aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
dateparser==1.0.0
idna==2.10
kiwisolver==1.3.1
llvmlite==0.36.0
lxml==4.6.3
matplotlib==3.4.1
mkl-fft==1.3.0
mkl-service==2.3.0
multidict==5.1.0
multitasking==0.0.9
numba==0.53.1
pandas==1.2.4
Pillow==8.2.0
pyparsing==2.4.7
python-binance==1.0.5
python-dateutil==2.8.1
pytz==2021.1
QuantStats==0.0.34
regex==2021.4.4
requests==2.25.1
scipy==1.6.3
seaborn==0.11.1
selenium==3.141.0
soupsieve==2.2.1
tabulate==0.8.9
torch==1.8.1
tqdm==4.60.0
tzlocal==2.1
ujson==4.0.2
urllib3==1.26.4
websockets==9.0.1
yarl==1.6.3
yfinance==0.1.59
